<div class="jumbotron">
  <h1 class="display-3">Continious Glucose Monitoring</h1>
  <p class="lead">Simply put, Continuous Glucose Monitoring (CGM) tracks glucose levels throughout the day and night and
    can alert you if your levels go too high or low. CGM systems take glucose measurements at regular intervals, 24/7,
    and translate them into dynamic data to show glucose direction and rate of change.
  </p>
  <hr class="my-2">
  <p> CGM gives you a full picture of your glucose numbers & trends</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Know More</a>
  </p>
</div>
