<br>
<div class="container">

  <div class="card text-white bg-primary">
    <div class="card-body">
      <h4 class="card-title">Glucose Monitoring</h4>
      <p class="card-text">Text</p>
      <a class="btn btn-light" [routerLink]="['/glucose-monitoring']" role="button">View Details</a>
    </div>
  </div>
  <br>
  <div class="card text-white bg-primary">
    <div class="card-body">
      <h4 class="card-title">Meal Plan</h4>
      <p class="card-text">Text</p>
      <a href="#" class="btn btn-light" role="button">View Details</a>
    </div>
  </div>
  <br>
  <div class="card text-white bg-primary">
    <div class="card-body">
      <h4 class="card-title">Insulin Schedule</h4>
      <p class="card-text">Text</p>
      <a  class="btn btn-light" href="#" role="button">View Details</a>
    </div>
  </div>
  <br>
  <div class="card text-white bg-primary">
    <div class="card-body">
      <h4 class="card-title">Contact Doctor</h4>
      <p class="card-text">Text</p>
      <a  class="btn btn-light" href="#" role="button">View Details</a>
    </div>
  </div>

</div>
